<ul>
  <li><a href="/account">Account</a></li>
  <li><a href="/account/orders">Orders</a></li>
  <li><a href="/account/addresses">Addresses</a></li>
  <hr>
  <li><a href="/account/change-password">Change Password</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>