<header>
  <div class="left">
    <button id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="/">
      <img src="/" alt="Cubemart Logo - a cube with the letter C cut in the front of it">
    </a>
  </div>
  <nav aria-hidden="true">
    <ul>
      <li><a href="/category/classic">Classic</a></li>
      <li><a href="/category/deluxe">Deluxe</a></li>
      <li><a href="/category/nature">Nature</a></li>
      <li><a href="/category/fashion">Fashion</a></li>
      <li><a href="/category/seasonal">Seasonal</a></li>
      <li><a href="/category/international">International</a></li>
      <li><a href="/category/pop">Pop</a></li>
    </ul>
  </nav>
  <div class="right">
    <a href="/user">User</a>
    <a href="/cart">
      Cart
      <span class="cart"></span>
      <span class="cart_number"></span>
    </a>
  </div>
</header>