<div id="global-message"></div>
<header class="nav-main">
  <div class="nav-main_left">
    <button id="hamburger" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a href="/">
      <img src="/" alt="Cubemart Logo - a cube with the letter C cut in the front of it">
    </a>
  </div>
  <nav aria-hidden="true">
    <%- include ('./category-nav') %>
  </nav>
  <div class="nav-main_right">
    <% if (user) { %>
    <a href="/account">Account</a>
    <% } else { %>
    <a href="/login">Log In</a>
    <% } %>
    <a href="/cart">
      Cart
      <span class="nav-main_cart"></span>
      <span class="nav-main_cart-number"></span>
    </a>
  </div>
</header>