<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Register</h1>
    <form id="register">
      <fieldset>
        <label for="email-register">Email</label>
        <input type="email" name="email" id="email-register" autocomplete="email">
      </fieldset>
      <fieldset>
        <label for="password-register">Password</label>
        <input type="password" name="password" id="password-register">
      </fieldset>
      <fieldset>
        <label for="password-register">Confirm Password</label>
        <input type="password" name="password" id="password-register-confirm">
      </fieldset>
      <div class="error-text"></div>
      <input type="submit" value="Register" id="submit-register">
    </form>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>