/*
 * Header Desktop + Base
 * - desktop-first css used for readability
 * - using fixed position, body offset needed (defined here)
 */
body {
  padding-top: var(--header-height-desktop);
}

.nav-main {
  --header-desktop-link-padding-x: 1rem;
  --header-mobile-link-padding-x: 1.2rem;
  --header-mobile-link-padding-y: .75rem;

  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: var(--header-height-desktop);
  background-color: #fff;
  filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, .1));
  z-index: 10;
}

.nav-main_wrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: var(--desktop-content-width);
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-main_logo {
  padding: 0 var(--padding-global);
}

.nav-main [class^="i-"]::before,
.nav-main [class*=" i-"]::before {
  font-size: 1.1rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#hamburger {
  display: none;
}

.nav-main a,
.nav-main button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1;
}

.nav-main_left,
.nav-main_right {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-main_right a {
  padding: 0 .45rem;
}

.nav-main_right a:last-child {
  padding-right: calc(var(--padding-global) + 2px);
}

.nav-main_right .cart::before {
  font-size: 1rem;
}

.nav-main_right .nav-main_cart-number {
  position: absolute;
  display: flex;
  top: 3px;
  right: 5px;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  font-weight: bold;
  line-height: 1;
  width: 1.05rem;
  height: 1.05rem;
  background-color: var(--c-dark);
  color: var(--c-light);
  border-radius: .525rem;
}

.nav-main_right .nav-main_cart-number.xl {
  font-size: .5rem;
  width: 1.1rem;
  height: 1.1rem;
  padding-top: 2px;
  border-radius: .55rem;
}

/* Main Menu desktop */
#nav-main_menu {
  height: 100%;
}

#nav-main_menu ul {
  position: relative;
  display: flex;
  height: 100%;
  list-style: none;
}

#nav-main_menu li {
  position: relative;
}

#nav-main_menu a {
  font-size: 1rem;
  padding: 0 var(--header-desktop-link-padding-x);
}

#nav-main_menu ul.l2 {
  position: absolute;
  display: none;
  top: 100%;
  left: var(--header-desktop-link-padding-x);
  width: calc(100% + 1rem);
  flex-direction: column;
  padding-top: .5rem;
}

#nav-main_menu ul.l2 a {
  height: auto;
  justify-content: flex-start;
  padding: .5rem .4rem;
  background-color: #fff;
}

/*
 * Header Mobile
 */
@media screen and (max-width: 799px) {
  body {
    padding-top: var(--header-height-mobile);
  }

  body.nav-open {
    overflow: hidden;
  }

  .nav-main {
    height: var(--header-height-mobile);
  }

  .nav-main_logo {
    padding-left: 0;
  }

  #hamburger {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 .55rem 0 var(--padding-global);
  }

  #hamburger .close {
    display: none;
  }

  #hamburger[aria-expanded="true"] .close {
    display: block;
  }

  #hamburger[aria-expanded="true"] .open {
    display: none;
  }

  /* Main Menu mobile */
  #nav-main_menu {
    position: fixed;
    display: none;
    left: 0;
    top: 40px;
    width: 300px;
    height: calc(100vh - var(--header-height-mobile));
    flex-direction: column;
    transform: translateX(-110%);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
    background-color: #fff;
    overflow-y: auto;
  }

  #nav-main_menu.showing {
    display: flex;
  }

  #nav-main_menu.animated {
    transform: translateX(0);
    opacity: 1;
  }

  #nav-main_menu ul {
    flex-direction: column;
  }

  #nav-main_menu a,
  #nav-main_menu button {
    justify-content: flex-start;
    padding: var(--header-mobile-link-padding-y) var(--header-mobile-link-padding-x);
    height: auto;
    width: 100%;
  }

  #nav-main_menu a::after,
  #nav-main_menu button::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - var(--header-mobile-link-padding-x) * 2);
    height: 1px;
    margin: auto;
    background-color: var(--c-gray);
  }

  #nav-main_menu ul.l2 {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    width: auto;
  }

  #nav-main_menu ul.l2 a {
    padding-left: calc(var(--header-mobile-link-padding-x) * 2);
  }

  #nav-main_menu ul.l2 a::after {
    width: calc(100% - var(--header-mobile-link-padding-x) * 3);
  }
}