<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include ('../partials/header') %>

  <main>
    <h1>Update Your Password</h1>
    <p>Enter a new password for your account.</p>
    <form id="change-password">
      <fieldset>
        <label for="password-change-password">New Password</label>
        <input type="password" name="password" id="password-change-password">
      </fieldset>
      <fieldset>
        <label for="password-change-password-confirm">Confirm New Password</label>
        <input type="password" name="password-confirm" id="password-change-password-confirm">
      </fieldset>
      <input type="submit" value="Submit">
    </form>
  </main>

  <%- include ('../partials/footer') %>
  <%- include ('../partials/end') %>
</body>

</html>