<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include ('../partials/header') %>

  <main>
    <h1>Change Your Password</h1>
    <form id="change-password">
      <fieldset>
        <label for="password-current-password">Current Password</label>
        <input type="password" name="password-current" id="password-current-password">
      </fieldset>
      <hr>
      <fieldset>
        <label for="password-new-password">New Password</label>
        <input type="password" name="password-new" id="password-new-password">
      </fieldset>
      <fieldset>
        <label for="password-new-password-confirm">Confirm New Password</label>
        <input type="password" name="password-new-confirm" id="password-new-password-confirm">
      </fieldset>
      <p>Passwords must be <b>at least 8 characters</b>, <b>contain at least 1 uppercase letter</b>, <b>contain at least
          1 lowercase letter</b>, and <b>contain at least 1 number</b>.</p>
      <div class="error-text"></div>
      <input type="submit" value="Submit" id="submit-change-password">
    </form>
  </main>

  <%- include ('../partials/footer') %>
  <%- include ('../partials/end') %>
</body>

</html>