<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main data-cmp="checkout">
    <h1>Checkout - Payment</h1>
  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>