<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Cube Customizer</h1>

    <div class="cube-customizer" data-cmp="cubeCustomizer">
      <div class="cube-customizer_primary">
        <div class="scene">
          <div class="cube">
            <div class="face front">Front</div>
            <div class="face back">Back</div>
            <div class="face left">Left</div>
            <div class="face right">Right</div>
            <div class="face top">Top</div>
            <div class="face bottom">Bottom</div>
          </div>
        </div>
        <div class="selections">

        </div>
      </div>
      <div class="cube-customizer_secondary">

      </div>
    </div>

  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>