<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <%- include ('../../partials/header') %>

  <main>
    <h1>Cube Customizer</h1>

    <div class="cube-customizer" data-cmp="cubeCustomizer">
      <div class="cube-customizer_primary">
        <div class="scene-wrapper">
          <div class="scene">
            <div class="cube">
              <div class="face front">
                <span>Front</span>
                <i>engraved</i>
              </div>
              <div class="face back">
                <span>Back</span>
                <i></i>
              </div>
              <div class="face left">
                <span>Left</span>
                <i></i>
              </div>
              <div class="face right">
                <span>Right</span>
                <i></i>
              </div>
              <div class="face top">
                <span>Top</span>
                <i></i>
              </div>
              <div class="face bottom">
                <span>Bottom</span>
                <i></i>
              </div>
            </div>
          </div>
        </div>
        <div class="selections">
          <button class="reset">Reset View</button>
        </div>
      </div>
      <div class="cube-customizer_secondary">

      </div>
    </div>

  </main>

  <%- include ('../../partials/footer') %>
  <%- include ('../../partials/end') %>
</body>

</html>